div#cart {
    border: 2px solid #ccc;
    position: absolute;
    right: 0;
    z-index: 1000;
    background: #fff;
}

.body-cart i{
    cursor: pointer;
}

.cart-show {
    font-size: 25px;
    cursor: pointer;
}

header{
    position: relative;
    margin-top: 15px;
}

.page {
    border: 1px solid #ccc;
    padding: 15px;
    min-height: 600px;
    margin: 15px 0;
}

footer{
    background: #000;
    color:#ccc;
    text-align: center;
    height: 50px;
    line-height: 50px;
}




h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}